.Portfolio-Section {
    display: flex;
    flex-direction: column;
    height: 100%;

    .Portfolio-Container {
        border: 1px solid white;
        display: flex;
    
        padding: 10px;

    
        position: relative;
    
        margin: auto;
        margin-left: 150px;
    
        // overflow: scroll;
        // overflow-x: hidden;
       
        width: 80%;
    
        transition: .5s;

        .Swiper {
            display: flex;
            width: 100%;
            margin: auto;
            .SwiperSlide {
                display: flex;
                margin: auto;
            }
        }
        
    }
      
    @media only screen and (max-width: 996px) {
        .Portfolio-Container {
            margin-left: 0px;
            width: 90%;
        }
    
    }   
}

@media only screen and (max-width: 996px) {
    .Portfolio-Section {
        gap: 20px;
        height: 100%;
    }

}