* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;    
  background-color: #1d1d1d;
}

.Mobile-Menu-Icon {
  position: fixed;
  top: 20px;
  right: 10px;

  color: white;


  height: 50px;
  z-index: 101;

  transition: .5s;
  transform: translateX(100vw);
}

@media only screen and (max-width: 996px) {
  .Mobile-Menu-Icon {
    transform: translateX(0%);
  }
}
